.formContainer {
  padding: 50px 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dateInputWrapper {
  width: 100%;
}

.dateInput {
  width: 40%;
  margin: 10px;
  padding: 5px;
}
