.formContainer {
  padding: 50px 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dateInputWrapper {
  width: 100%;
}

.dateInput {
  width: 40%;
  margin: 10px;
  padding: 5px;
}


.progressBar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

.progressBar li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
