.container {
  height: 100vh;
  width: 100%
}

.columnStyle {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}


.header {
  font-size: 32px;
  font: 'Open Sans';
}

.flexCenter {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 0 1 auto;
}

.buttonWrapper {
  margin-top: 200px;
}

.button {
  color: white !important;
  border: 2px solid white !important;
}

.button:hover {
  color: rgba(0, 216, 255, .9) !important;
  border: 2px solid rgba(0, 216, 255, .9) !important;
}
